<ul>
  <li><%= link_to "Profile", attendee_root_path %></li>
  <li><%= link_to "My Conferences", attendee_conferences_path %></li>
  <li><%= link_to "My Matches", attendee_matches_path %></li>
  <li><%= link_to "Logout", destroy_attendee_session_path %></li>
</ul>