		<div class="inner-container clearfix">
			<h1 id="logo">
				<%= link_to "SoCap", root_url, :class=>'home'%>
				<!-- <a class="button" href="#">visit site&nbsp;»</a> -->	
			</h1>
			<%if current_user_class == Organizer %>
			  <%= render :partial => 'organizers/status_box' %>
			<%elsif current_user_class == Attendee %>
			  <%= render :partial => 'attendees/status_box' %>
			<%end%>
		</div><!-- .inner-container -->