<ul>
  <li><%= link_to "Profile", organizer_root_path %></li>
  <li><%= link_to "My Conferences", organizer_conferences_path %></li>
  <li><%= link_to "Sign Out", destroy_organizer_session_path %></li>
</ul>