<div class="box box-100 altbox"><!-- .altbox for alternative box's color --> 
	<div class="boxin"> 
		<div class="header"> 
			<h3><%= "#{@conference.title}: Attendees"%></h3>
		</div> 
		<div class="content"> 
			<table cellspacing="0"> 
				<thead> 
					<tr> 
						<th>First Name</th>
						<td class="tc">Last Name</td> 
						<td class="tc">Email</td>
						<td class="tc">Matches</td>
						<td class="tc">Answers</td>
						<td></td> 
					</tr> 
				</thead> 
				<tbody>
				  <% @first = true%>
				  <% @attendees.each do |a| %>
				    <%if @first%>
				    <tr class="first"><!-- .first for first row of the table (only if there is thead) --> 
						<%else%>
						<tr>
						<%end%>	
							<th><%= link_to a.profile.first_name, attendee_profile(a.profile) %></th> 
							<td><%= link_to a.profile.last_name, attendee_profile(a.profile) %></td>
							<td><%= a.email %></td>
							<% if ConferenceAttendeeResponse.where("attendee_id = ?", a.id).blank? %>
  							<td>No</td>
  							<td>N/A</td>
  						<%else%>
  						  <td>Yes</td>
  						<%end%>
						</tr>
				  <% @first = false %>
				  <%end%>
				</tbody> 
			</table> 
		</div> 
	</div> 
</div>