<%= error_messages_for @attendee_profile %>
<% form_for @attendee_profile, :url => '/attendee/profile/update' do |profile| %>
  <%= render 'form', :p => profile %>
  <p>
    <%= profile.submit "Update" %>
  </p>
<% end %>