<p>Hello <%= @resource.email %>!</p>

<p>We're looking forward to a fun and fruitful week at Le Laboratoire.  To kick off the week's project testing and development, we would like to invite you all to participate in a pilot version of our project!  Before coming to the lab tomorrow (Monday), create a profile and fill out the questionnaire.  To do this you will need to sign into your account which will be possible after you have <%= link_to 'set your password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>. We will use the results to match you to people in the lab who you will hopefully "clik wit"!</p>

<p>Thanks!</p>

<p>The ClikWit Team</p> 


<p>Bonjour! <%= @resource.email %>!</p>

<p>S'il vous plait, remplir le questionnaire qui nous vous enverrons ce soir.  Il fait partie d'un projet du laboratoire qui nous allons travailler pendent cette semaine.</p>

<p>Merci et pardonne les erreurs de syntaxe française parce que notre française est un peu suspecte!</p>

<p>L'equipe ClikWit</p>
